<!doctype html>

<html>
  <head>
    <title> basic todolist </title>
  </head>
  <body>
    <section class="todoapp">
      <header class="header">
        <h1> {{ listTitle }} </h1>
        <button class="edit" v-on:click="toggleEditTitle" v-if="!editTitle">edit title</button>
        <input type="text" v-model="listTitle" v-if="editTitle" @keyup.enter="toggleEditTitle"/>
      </header>

      <input v-model="newItem" type="text" @keyup.enter="addItem" placeholder="add item">

      <ul>
        <list-item v-for="item in items">{{ item }}</list-item>
      </ul>

    </section>

    <script src="vue.min.js"> </script>

    <script>

      Vue.component('list-item', {
        props: ['item'],
        template: '<li> list-item component </li>'
      });

      var app = new Vue({
        data: {
          items: [],
          listTitle: 'first list',
          editTitle: false,
          newItem: ""
        },

        methods: {
          toggleEditTitle: function() {
            this.editTitle = !this.editTitle;
          },
          addItem: function() {
            if (this.newItem) {
              this.items.push(this.newItem);
              this.newItem = "";
            }
          }
        }
      });

      app.$mount(".todoapp");
    </script>
  </body>
</html>
